
# Large dataset 
data/application_train.csv
data/application_test.csv
*.csv
!data/sample_data.csv

# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env
